{% extends 'base.html.twig' %}

{% block title %}Coaches{% endblock %}

{% block body %}
    <h1>Coaches</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coach.id }}</td>
            </tr>
            <tr>
                <th>NomCoach</th>
                <td>{{ coach.NomCoach }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ coach.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ coach.email }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ coach.birthday ? coach.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ coach.salary }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_coaches_index') }}">back to list</a>

    <a href="{{ path('app_coaches_edit', {'id': coach.id}) }}">edit</a>

    {{ include('coaches/_delete_form.html.twig') }}
{% endblock %}
