{% extends 'base.html.twig' %}

{% block title %}Activites{% endblock %}

{% block body %}
    <h1>Activites</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activite.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ activite.type }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activite.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_activites_index') }}">back to list</a>

    <a href="{{ path('app_activites_edit', {'id': activite.id}) }}">edit</a>

    {{ include('activites/_delete_form.html.twig') }}
{% endblock %}
